<center>
    <div style="margin-top: 40px; width: 60%;">
        <h3> Pay outstanding amount below </h3>
        <form id="checkout" method="post" action="/reservations/<%= @reservation.id %>/payments">
            <div id="payment-form"></div>
            <input type="submit" value="Pay $<%= @reservation.amount %>">
        </form>

        <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>

        <script>
            braintree.setup(
    // Replace this with a client token from your server
    "<%= @client_token %>",
    "dropin", {
        container: "payment-form"
    });
        </script>
    </div>
</center>