/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html {
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
  font-weight: 400;
  color: #333333;
  background-color: #f5f5f5;
}

/* ----- Nav Bar -----*/
nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #f14444; }
nav.navbar-findcond ul.navbar-nav a { color: #f14444; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #f14444; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #f14444; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #f14444; color: #fff; }
nav.navbar-findcond span.badge { background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: rgba(255, 0, 0, 0.8); color: #fff; }

/* ----- Carousel -----*/
 
div.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.carousel-caption {
	margin-bottom: 70px;
} 

.carousel {
  height: 500px;
  margin-bottom: 60px;
}
.carousel .item {
  height: 700px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 250px;
}
.search {
	margin-top: 6%;
}
.search .form-section{
	background:rgba(0,0,0,0.6);
	border: 2px solid #414141;
	border-radius: 5px;
	padding: 10px;
}

span.glyphicon.glyphicon-chevron-left::before{
  font-size: 60px;
  padding-top: 100px;
}

span.glyphicon.glyphicon-chevron-right::before{
  font-size: 60px;
  padding-top: 100px;
}

a.left.carousel-control {
  height: 700px;
}

a.right.carousel-control {
  height: 700px;
}

/* ----- Sign-In -----*/

div#clearance.sign-in {
  padding-bottom: 150px;
}

/* ----- Footer -----*/

div.footer {
  background-color: gray;
  padding: 40px;
  bottom: 0;
/*  margin-top: 50px;*/
  position: fixed;
  width: 100%;
/*  border-top: solid;*/
/*  border-color: #fff;*/
}

a.footer-btn {
  text-decoration: none;
  padding: 20px 80px;
  color: #fff;
  font-size: 15px;
}

/* ----- Avatar -----*/
.avatar {
	position: relative;
	margin-top: 15px;
	z-index: 100;
}

.avatar img {
 	width: 100px;
 	height: 100px;
 	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
 	border-radius: 50%;
 	border-style: solid;
 	border-color: white;
 	border-width: 3px;
}

.avatar-xs {
	margin-left: 7px;
	width: 30%;
	height: 30%;
	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
 	border-radius: 50%;
}

/* ----- Images -----*/
.image {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.dropdown-toggle-profile {
	width: 200px;
  padding-top: 15px; margin-top: -13px;
}

/* Homepage */
img {             
  width: 335px;
  height: 344px;
}

h4.image-text {

  font-size: 30px;
  color: black;
  position: absolute;
  top: 300px;
  left: 50px;
}

/*Aligns the pictures to the center*/
section.recent-listings {
  text-align: center;
  padding-bottom: 200px;
}

div.homepic {
  display: inline-block;
  width: 335px;
  height: 344px;
}

/* ----- Listing Index / Getaways -----*/
div.getaways {
  padding-bottom: 100px;
}

div.search {
  padding-bottom: 100px
}

/* ----- Payments -----*/
div.payment {
  padding-bottom: 150px;
}


div.homepage_images-b {
  width: 100;
  height: 100;
}


/* ----- Grid -----*/

/*.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  max-width: 750px;
  list-style: none;
  text-align: center;
  align-content: center;
  justify-content: center;
}
*/

/* Common style */
/*.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 00px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #222222;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  height: auto;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  max-width:100%;
  padding: 1.5em;
  position: relative;
  align-items: center;
  justify-content: center;
  display: inline-block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.15em;
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  align-content: center;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  text-align: center;
  
}


/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/*.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 100;
   position: relative;
  align-items: center;
  justify-content: center;
  display: inline-block;

}

.grid figure h2 span {
  font-weight: 600;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 50%;
}

/* Individual effects */
/*
figure.effect-ruby {
background-color: #222222;
}
figure.effect-ruby img {
opacity: 0.8;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: scale(1.15);
transform: scale(1.15);
}
figure.effect-ruby:hover img {
opacity: 0.5;
-webkit-transform: scale(1);
transform: scale(1);
}
figure.effect-ruby h2 {
margin-top: 20%;
-webkit-transition: -webkit-transform 0.35s;
transition: transform 0.35s;
-webkit-transform: translate3d(0,20px,0);
transform: translate3d(0,20px,0);
text-align: center;

}
figure.effect-ruby p {
margin: 1em 0 0;
padding: 3em;
border: 1px solid #fff;
opacity: 0;
text-align: center;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(0,20px,0) scale(1.1);
transform: translate3d(0,20px,0) scale(1.1);
}
figure.effect-ruby:hover h2 {
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
}
figure.effect-ruby:hover p {
opacity: 1;
-webkit-transform: translate3d(0,0,0) scale(1);
transform: translate3d(0,0,0) scale(1);
}*/
