<body class="nav_body">
<div class="nav">
  <div class="nav_wrapper">
    <ul>
      <li><a href="#">Messages</a></li><li>
      <a href="/listings">Listings</a></li><li>
      <a href="#">Your Profile  <img class="pic_image_circle_xs" src="<%= current_user.avatar %>" alt="User Profile Pic"></a>
        <ul>
          <li><%= link_to "Edit Profile", edit_user_path(@user) if current_user == @user %></li>
          <li><a href="#">Your Trips</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<body> 